h1{
    text-align: center;
    color:red;
}
.form input{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
}
.form button{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100px;
    background-color: red;
    color:white;
    border:none;
    border-radius: 5px;
}